<div class='mt-4'>
    <h3>Danh sách phim</h3>
    <table class='table mt-4 table-bordered'>
        <thead>
            <tr>
                <th scope='col'>STT</th>
                <th scope='col'>Name</th>
                <th scope='col'>Image</th>
                <th scope='col'>Description</th>
                <th scope='col'>Create At</th>
            </tr>
        </thead>
        <tbody>
            {{#each movies}}
                <tr>
                    <th scope='row'>{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td><img src='{{this.image}}' alt='' style='width: 50px' /></td>
                    <td>{{this.description}}</td>
                    <td>{{this.createAt}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>