<form class='mt-4' method="POST" class="form-container" action="/movies/handle-form-actions">
    <div class="title-list-movie">
        <h3>Danh sách phim</h3>
        <a href="/me/trash/movies" class="list-movie--right">
            <div class="trash-icon-wrap">
                <i class="fa-solid fa-trash-can list-movie__trash"></i>
                <span class="quantity-trash">{{count}}</span>
            </div>
            <span>Thùng rác</span>
        </a>

    </div>

    <div class="d-flex align-items-center">
        <div class="mt-2">
            <div class="mb-3 form-check">
                <label class="form-check-label" for="checkbox-all" style="user-select: none;">Chọn tất cả</label>
                <input type="checkbox" class="form-check-input" id="checkbox-all">
            </div>
        </div>
    
        <select class="form-select form-select-sm" style="width: 160px; margin: 0 16px" name="action" required>
            <option selected value="">-- Select action --</option>
            <option value="delete">Xóa</option>
        </select>
    
        <button class="btn btn-primary btn-sm disabled btn-submit-checkall">Áp dụng</button>
    </div>

    <table class='table mt-4 table-bordered align-middle'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>STT</th>
                <th scope='col'>Name</th>
                <th scope='col'>Image</th>
                <th scope='col'>Description</th>
                <th scope='col'>Created At</th>
                <th scope='col' colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each movies}}
                <tr>
                    <th>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{this._id}}" name="movieIds[]">
                        </div>
                    </th>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td><img src='{{this.image}}' alt='' style='width: 50px' /></td>
                    <td>{{this.description}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a href="/movies/{{this._id}}/edit" type="button" class="btn btn-warning">Sửa</a></td>
                    <td><a href="/movies/" type="button" class="btn btn-danger" data-bs-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa</a></td>
                </tr>

            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    Bạn chưa thêm bộ phim nào!
                    <a href="/movies/create">Thêm phim mới</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Delete form --}}
<form method='POST' name="delete-form"></form>

{{!-- Confirm Delete movie --}}
<div class="modal fade" id="deleteModal" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa phim này ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                <button id="btn-delete-movie"  type="button" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>

<script>
    let movieId;
    const btnDeleteMovie = document.getElementById('btn-delete-movie');
    const deleteForm = document.forms['delete-form'];
    const checkboxAll =  $('#checkbox-all');
    const movieItemCheckbox = $('input[name="movieIds[]"]')
    const checkallSubmitBtn = $('.btn-submit-checkall')

    const deleteModal = document.getElementById('deleteModal')
        if (deleteModal) {
            deleteModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget
                movieId = button.getAttribute('data-bs-id')
            })
        }
    
    btnDeleteMovie.onclick = () => {
        deleteForm.action = `/movies/${movieId}?_method=DELETE`;
        deleteForm.submit();
    }

    // Checkall Submit Btn clicked
    checkallSubmitBtn.click(function() {
        
    })

    // Checkbox all changed
    checkboxAll.change(function() {
        const isCheckedAll = $(this).prop('checked');
        movieItemCheckbox.prop('checked', isCheckedAll);
        renderCheckAllSubmitBtn();
    })

    // Checkbox item changed
    movieItemCheckbox.change(function () {
        const isCheckedAll = movieItemCheckbox.length === $('input[name="movieIds[]"]:checked').length;
        checkboxAll.prop('checked', isCheckedAll);
        renderCheckAllSubmitBtn();
    })

    // Re-render CheckboxAllBtn
    function renderCheckAllSubmitBtn() {
        const checkedCount = $('input[name="movieIds[]"]:checked').length;
        if(checkedCount > 0) {
            checkallSubmitBtn.removeClass('disabled')
        } else {
            checkallSubmitBtn.addClass('disabled')
        }
    }


</script>