<div class='mt-4'>
    <div class="title-list-trash">
        <h3>Danh sách phim đã xóa</h3>
        <a href="/me/stored/movies" class="list-trash--right">
            <i class="fa-solid fa-list list-trash__list"></i>
            <span>Danh sách</span>
        </a>
    </div>
    <table class='table mt-4 table-bordered align-middle'>
        <thead>
            <tr>
                <th scope='col'>STT</th>
                <th scope='col'>Name</th>
                <th scope='col'>Image</th>
                <th scope='col'>Description</th>
                <th scope='col'>Created At</th>
                <th scope='col' colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each movies}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td><img src='{{this.image}}' alt='' style='width: 50px' /></td>
                    <td>{{this.description}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a href="" type="button" data-bs-id="{{this._id}}" class="btn btn-warning btn-restore">Khôi phục</a></td>
                    <td><a href="/movies/" type="button" class="btn btn-danger" data-bs-id="{{this._id}}"
                            data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa vĩnh viễn</a></td>
                </tr>
                {{else}}
                    <tr>
                        <td colspan="6" class="text-center">
                            Thùng rác trống
                            <a href="/me/stored/movies">Danh sách khóa học</a>
                        </td>
                    </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Delete form --}}
<form method='POST' name="delete-form"></form>

{{!-- Restore form --}}
<form method='POST' name="restore-form"></form>

{{!-- Confirm Delete movie --}}
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Hành động này sẽ không thể khôi phục. Bạn vẫn muốn tiếp tục?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                <button id="btn-delete-movie" type="button" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>

<script>
    let movieId;
    const btnDeleteMovie = document.getElementById('btn-delete-movie');
    const deleteForm = document.forms['delete-form'];
    const restoreForm = document.forms['restore-form'];
    const restoreBtn = $('.btn-restore');

    const deleteModal = document.getElementById('deleteModal')
    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            movieId = button.getAttribute('data-bs-id')
        })
    }

    btnDeleteMovie.onclick = () => {
        deleteForm.action = `/movies/${movieId}/force?_method=DELETE`;
        deleteForm.submit();
    }

    restoreBtn.click(function(e) {
        e.preventDefault()
        const movieRestoreId = $(this).data("bs-id");
        restoreForm.action = `/movies/${movieRestoreId}/restore?_method=PATCH`;
        restoreForm.submit();
    })

</script>